[submodule "third_party/avstack-core"]
	path = third_party/avstack-core
	url = git@github.com:AVSecProject/avstack-core.git
[submodule "third_party/avstack-api"]
	path = third_party/avstack-api
	url = git@github.com:AVSecProject/avstack-api.git
[submodule "third_party/lib-avstack-carla"]
	path = third_party/lib-avstack-carla
	url = git@github.com:AVSecProject/lib-avstack-carla.git
[submodule "third_party/nuCarla"]
	path = third_party/nuCarla
	url = https://github.com/michigan-traffic-lab/nuCarla.git
